{
    "extends": ["airbnb", "airbnb/hooks"],
    "globals": {
        "FormData": true,
        "document": true,
    },
    "rules": {
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off"
    }
}
