{
    "extends": ["airbnb", "airbnb/hooks"],
    "globals": {
        "document": true,
        "fetch": true,
        "FormData": true,
        "window": true,
        "gtag": true
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off",
        "jsx-a11y/anchor-is-valid": 0
    }
}
