$border-radious: 2px;

.Message {
    align-self: flex-end;
    background-color: #EAEAF6;
    border-radius: $border-radious;
    color: #68686f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 16px 0;
    padding: 8px 16px;
    position: relative;

    .header {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .name {
        margin-right: 10px;
    }

    .timestamp {
        font-weight: normal;
    }

    .body {
        font-size: 14px;
    }

    &.received {
        background-color: #FFFFFF;
        align-self: flex-start;
    }
}

.Message.darkMode {
    background-color: #3A3B55;
    color: #f7f7f7;

    &.received {
        background-color: #2D2C2C;
    }
}

.options {
    $colour: #fd5757;
    border-radius: $border-radious;
    border: 1px solid $colour;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all ease-out .2s;
    width: 100%;

    .Message:hover & {
        opacity: 1;
    }

    .removeButton {
        align-items: center;
        background-color: $colour;
        border-bottom-left-radius: $border-radious;
        display: flex;
        height: 20px;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
    }
}
